<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prof. Aboaba</title>

    <link rel="stylesheet" href="/css/styles.css">
      <script src="/js/jquery.js"> </script>
      <link rel="stylesheet" href="/css/fancy.css">
      <link rel="stylesheet" href="/css/all.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

</head>
<body class="color-bg">
    
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="/">
                        <img src="/images/logo.png" alt="" width="150px">
                    </a>
                </div>
                <nav>
                    <ul id="menuItem">
                        <li><a href="/">Home</a></li>
                        <div class="dropdown">
                            <li class="publication"> Publications </li>
                                <div class="dropdown-content">
                                    <li><a href="/journals"> Journals </a></li>
                                    <li><a href="/books"> Books </a></li>
                                    <li><a href="/conferences"> Conferences </a></li>
                                </div>
                        </div>
                        <li><a href="/medias">Medias</a></li>
                        <li><a href="/resources">Resources</a></li>
                        <li><a href="/search">Search</a></li>
                        <li><a href="/research">Research Interest</a></li>
                        <li><a href="/about">About Me</a></li>
                        </ul>
                </nav>
                <img src="/images/menu.png" class="menu-icon" onclick="toggle()">
            </div>
        </div>
      

  