<%- include ('_layouts/header') %> 

<!-- <h2 class="page-title p-sm">About</h2> 

<p class="p-2">This is Our About page</p> -->

<br><br><br>
<div class="container">
    <h2 class="center green">Aboaba AbdulFattah </h2>
    <h4 class="center"><i> Professor in computer Engineering</i></h4>
    <h4 class="center"><i> University of Maiduguri</i></h4> <br><br>
    <div class="image center">
        <img src="/images/passport.jfif" alt="Photograph of Me">
    </div>
    <div class="p-50">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis blanditiis culpa vitae inventore consequatur 
            repellat, earum in natus. At odio velit laborum dicta dolore, beatae temporibus non dolorem nemo quis nobis quaerat, 
            quidem quo sint maxime corporis facilis expedita sunt maiores! Unde saepe excepturi beatae ea magnam delectus non 
            voluptas omnis vitae, consectetur sequi aliquam necessitatibus aliquid obcaecati. Eos hic amet perferendis molestiae 
            omnis obcaecati totam! Explicabo quas, possimus nihil aliquam iure ipsam perspiciatis. Eveniet facere consequatur esse 
            ab magnam error, voluptate doloremque quaerat doloribus, quia, recusandae optio 
            veritatis amet cumque molestias! Assumenda, nesciunt. Corporis tempora provident quisquam quas cupiditate!
        </p> <br>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis blanditiis culpa vitae inventore consequatur 
            repellat, earum in natus. At odio velit laborum dicta dolore, beatae temporibus non dolorem nemo quis nobis quaerat, 
            quidem quo sint maxime corporis facilis expedita sunt maiores! Unde saepe excepturi beatae ea magnam delectus non 
            voluptas omnis vitae, consectetur sequi aliquam necessitatibus aliquid obcaecati. Eos hic amet perferendis molestiae 
            omnis obcaecati totam! Explicabo quas, possimus nihil aliquam iure ipsam perspiciatis. Eveniet facere consequatur esse 
            ab magnam error, voluptate doloremque quaerat doloribus, quia, recusandae optio 
            veritatis amet cumque molestias! Assumenda, nesciunt. Corporis tempora provident quisquam quas cupiditate!
        </p>
    </div>
    
    <div class="center">
        <a href="">
            <span class="fa-stack fa-lg">
                <i class="fab fa-twitter"></i>
            </span>
        </a> &nbsp; &nbsp;
        <a href="">
            <span class="fa-stack fa-lg">
                <i class="fab fa-whatsapp"></i>
            </span>
        </a> &nbsp; &nbsp;
        <a href="">
            <span class="fa-stack fa-lg">
                <i class="fas fa-envelope"></i>
            </span>
        </a> &nbsp; &nbsp;
        <a href="">
            <span class="fa-stack fa-lg">
                <i class="fas fa-envelope"></i>
            </span>
        </a>
    </div>
</div>

<%- include ('_layouts/footer') %> 