<%- include ('_layouts/header') %> 

<!-- <h2 class="page-title p-sm">About</h2> 

<p class="p-2">This is Our About page</p> -->

<br><br><br>
<div class="container">
    <h2 class="center green">Engr., Prof. Abdulfattah Adelani Aboaba  </h2><br>
    <h3 class="center green"><i> Professor of Intelligent Systems <br> (Computational Biomedical & Embedded System)</i></h3><br>
    <h4 class="center"><i>ND, HND, PGD, M.Eng., PhD</i></h4> <br><br><br>
    <div class="image center">
        <img src="/images/passport.jfif" alt="Photograph of Me">
    </div>
    <div class="p-50">
        <% abouts.forEach(about => { %>
            <br>
         <h4 class="center green"><%= about.title %> </h4>
         <p style="font-size: 19px;" class="center"><%= about.desc %> </p>
        <% }) %>
    </div>
    <br><br><br>
    <div class="center green">
        <h2>Contact Me</h2> <br><br>
        <a href="maito:aboaba@unimaid.edu.ng">
            <span class="fa-stack fa-lg">
                <i class="fas fa-envelope"></i>
            </span>
        </a> &nbsp; &nbsp;
        <a href="maito:abdulfattahaa@gmail.com">
            <span class="fa-stack fa-lg">
                <i class="fas fa-envelope"></i>
            </span>
        </a> &nbsp; &nbsp;
        <a href="maito:adeabdul2002@yahoo.co.uk">
            <span class="fa-stack fa-lg">
                <i class="fas fa-envelope"></i>
            </span>
        </a><br><br><br>
        <p style="font-size: 19px;">P.M.B. 1069, Maiduguri, Borno State.</p>
        <p style="font-size: 19px;">Department of Computer Engineering</p>
        <p style="font-size: 19px;">University of Maiduguri</p>
    </div><br><br><br>
</div>

<%- include ('_layouts/footer') %> 