<%- include ('_layouts/adminheader') %> 

<form class="" action="/users/forgot-password" method="post">
    <div class="form-group">
        <label  for="">Your E-mail Address</label>
        <input class="form-control" type="email" placeholder="E-mail Address" name="email" width="300px" required>
    </div>
    <button type="submit" class="btn btn-primary">Continue</button>
</form>


<br><br>
<%- include ('_layouts/adminfooter') %> 