<%- include ('../views/_layouts/adminheader') %> 

<div class="row center">
    <a class="btn btn-primary" href="/admin/journals">Journals</a>
</div>
<br>
<div class="row center">
    <a class="btn btn-primary" href="/admin/books">Books</a>
</div>
<br>
<div class="row center">
    <a class="btn btn-primary" href="/admin/conferences">Conferences</a>
</div>


<br><br>
<%- include ('../views/_layouts/adminfooter') %> 
