<%- include ('../views/_layouts/adminheader') %> 

<div class="row center">
    <a class="btn btn-primary" href="/admin/about">About Me</a>
</div>
<br>
<div class="row center">
    <a class="btn btn-primary" href="/admin/research">Research</a>
</div>
<br>


<br><br>
<%- include ('../views/_layouts/adminfooter') %> 